form{
    width:500px;
}
.container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.rg{
    color: white;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#sect1 {
    height: 100vh ;
    width: 100vw;
    color: #fff;
    background-image: url(./plain.jpg);
    background-size: cover;
}

.bk{
    color: black;
    text-align:center;
    font-family: serif;
}
